body { 
   margin : 0px;
   font-family: 'Muli', sans-serif;
   font-size : 2em;
}
.hide {
   display:none !important;
}
.label {
   text-align : center;
   width : 100%;
   height : 40px;
   margin-top: 15px;
}
.locationBox{
   font-size : .7em;
   width : 300px;
   height : 300px;
   margin-left : 10px;
   border : 1px solid black;
   display : inline-block;
   text-align : center;
}
.locationBox > div {
   margin-top : 5px;
   width : 80%; 
   margin-left : 10%;
   border-bottom : 1px solid black;
}
.locationBox > img {
   border : 1px solid black;
   height : 70%;
   margin : 10px;
}
h1 {
   margin:10px;
   font-size : 1em;
   width : calc(100% - 20px);
}
#locationlabel{
   border-bottom : 2px solid black 
}
#map {
   width : 100vw;
   height : 100vh;
}
#controls {
   position:absolute;
   left : 0;
   top : 0;
   width : 300px;
   height : 100vh;
   overflow-y : auto;
   z-index:90;
   background-color : rgba(255,255,255,.75);
}
#controlsToggle{
   position:absolute;
   top : 0;
   height : 40px;
   width : 40px;
   left: 240px;
   margin : 5px;
   background-color : rgba(255,255,255,.75);
   border : 1px solid black;
   text-align:center;
   vertical-align:middle;
   cursor : pointer;
   z-index : 99;
}

#spotlock {
   text-align : center;
}
#spotlockgo {
   background-color : green;
   border : .5px solid black;
   cursor:pointer;
}
#spotlockstop {
   background-color : red;
   border : 2px solid black;
   cursor:pointer;
}
#settingsButton {
   position:absolute;
   top:0;
   right:0;
   padding: 5px;
   margin : 5px;
   border : 1px solid black;
   font-size:1em;
   padding : 0px 10px;
   z-index : 100;
   width : 51px;
}
.vtabs {
   width : 100%;
   display : flex;
   flex-direction : column;
}
.settingsButton {
   background-color : rgba(255,255,255,.5);
}
.settingsButton::after {
   content : "\2699";
}
.exitButton {
   background-color :rgba(0,0,0,.25);
}
.exitButton::after {
   content : "X";
}
.vtab {
   flex-grow : 1;   
   padding : 10px;
   margin : 5px;
   border : 1px solid black;
   border-bottom : 3px solid black;
   text-align : center;
}
.tabs {
   width : 100%;
   height : 70px;
   display : flex;
   flex-direction : row;
}
.tab {
   flex-grow : 1;   
   padding : 10px;
   margin : 5px;
   border : 1px solid black;
   border-bottom : 3px solid black;
   text-align : center;
}
.active {
   background-color :rgba(0,0,0,.25);
}


#settings{
   width : 100vw;
   height : 100vh;
   background-color:rgba(255,255,255,.9);
   position:absolute;
   left:0;
   top:0;
   margin:0;
   padding:0;
   z-index:99;
}

#controls > h1 {
   padding-top : 10px;
   text-align : center;
   border-bottom : 1px solid black;
}
#sensors {
   padding : 0;
   margin : 0;
   background-color : rgba(255,255,255,.75);
   position : absolute;
   left : 0;
   bottom : 0;
   height : 150px;
   width : 100vw;
   z-index : 70;
}
#sensors > .tabs {
   height : 100%;
}
#sensors > .tabs > .tab {
   height : calc(100% - 35px);
   width : 0;
   font-size : .5em;
}
#sensorsToggle {
   position:absolute;
   left : 0;
   height : 40px;
   width : 40px;
   bottom: 0;
   margin : 5px;
   border : 1px solid black;
   text-align:center;
   vertical-align:middle;
   cursor : pointer;
   z-index : 71;
   background-color : rgba(255,255,255,.75);
}
#sensors h1 {
   margin-top : -10px;
}
#sensors canvas {
   width : calc(100%);
   height : 100px;
}
#sensors #spotlockdirgraph, #sensors #spotlockmaggraph {
   height : 45px;
}
